@layout('crud.base')
@yield('content')
@include('etc.navbar')
<section class="main-section">
    <div class="content">
        <!-- Remove This Before You Start -->
        <p>Halaman No Dua</p>

        <h2>Andonis</h2>
        <h2>Bahasa Pemrograman Framework</h2>
        <a href="{{ route('Todo.index') }}">Kembali</a>
    </div>
</section>
@endyield