@layout('crud.base')
@yield('content')
<section class="main-section">
    <div class="content">
        <!-- Remove This Before You Start -->
        <p>Halaman CRUD</p>

        <h2>Andonis</h2>
        <h2>Bahasa Pemrograman Framework</h2>
    </div>
</section>
@endyield